altgraph==0.15
AnyQt==0.0.8
cycler==0.10.0
future==0.16.0
kiwisolver==1.0.1
logging-bootstrap==1.0.0
macholib==1.9
matplotlib==2.2.2
numpy==1.14.3
pefile==2017.11.5
pkg-resources==0.0.0
PyForms==3.0.0
PyInstaller==3.3.1
PyOpenGL==3.1.0
pyparsing==2.2.0
PyQt5==5.10.1
PySettings==0.1.90
python-dateutil==2.7.3
pytz==2018.4
QScintilla==2.10.4
scipy==0.19.1
sip==4.19.8
six==1.11.0
visvis==1.11.1
